<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
    <div>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quia corrupti hic eveniet iure, ipsam suscipit rem impedit, non ad quas eius? Quaerat, cupiditate sapiente est molestiae hic at! Natus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat illo perferendis impedit maiores itaque, provident ipsum doloribus expedita soluta? Fugiat ratione natus quaerat tempore iure aperiam sit dolorem, laboriosam odio. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat illo perferendis impedit maiores itaque, provident ipsum doloribus expedita soluta? Fugiat ratione natus quaerat tempore iure aperiam sit dolorem, laboriosam odio.
    </p>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>

