<nav>
    <div>
        <a href="/blogs" style="font-size: 3rem; font-weight: bold; margin-right: 10rem;">Node.js Server</a>
        <a href="/blogs" style="margin-right: 1.5rem;">Home</a>
        <a href="/about" style="margin-right: 1.5rem;">About</a>
        <a href="/new">New Blog</a>
    </div>
</nav>

