<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <div class="aboutUs">
        <h1>About Us!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque in necessitatibus quos at delectus ullam quae nostrum, ut quisquam rem voluptatibus molestias, quia quo reiciendis vel impedit quaerat repellendus. Doloribus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, id dolores facilis aspernatur harum quo dolor deleniti molestiae voluptate nemo a. Quae, veritatis sit odit rem molestias quis fugit reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, minima? Nostrum exercitationem, rem aliquid ullam enim ipsa sit fugit vero amet excepturi, blanditiis, mollitia voluptates numquam quo recusandae voluptate sed. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum odit sint eius tempora in nobis dicta veritatis. Aliquid molestiae laudantium iste iure veritatis cupiditate consequuntur repellendus vel, tempore ex expedita?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam ipsa ab ipsam, omnis, libero reiciendis, corrupti enim magni nesciunt necessitatibus a possimus officia illo saepe rerum? Eos totam aliquam doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odit molestias natus voluptatibus dolore, voluptatem, voluptas quam delectus sed culpa enim eveniet placeat! Earum inventore, officiis repellat asperiores aut pariatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, tempora veritatis, laborum, vero in quos maiores illum corrupti aliquid eveniet temporibus. Excepturi eum iusto commodi esse iure enim, expedita quaerat. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure magni molestiae quae, atque neque debitis itaque perspiciatis eligendi labore. Ipsum consequatur voluptas distinctio inventore? Maxime praesentium molestiae error porro iste! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis sequi obcaecati, nesciunt rem ea adipisci natus dignissimos pariatur et. Amet necessitatibus cum itaque eaque, commodi provident quibusdam sunt blanditiis repellendus?</p>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>

