<nav>
    <div class="nav">
        <a href="/blogs" class="title">Express App</a>
        <div class="links">
            <input class="filter" style="display: none;" type="text" placeholder="Filter by Title or Author . . .">
            <a href="/blogs">Home</a>
            <a href="/about">About</a>
            <a class="newBlogBtn" href="/new">New Blog</a>
        </div>
    </div>
</nav>

